body {
  background: radial-gradient(
    circle at 100%,
    rgb(219, 213, 213),
    rgb(224, 219, 219) 50%,
    #eee 75%
  );
}
/* Main Container Style */
.container {
  background-color: white;
  margin-top: 75px;
  size: auto;
  border-radius: 10px;
  margin-bottom: 125px;
  padding-bottom: 30px;
  position: relative;
}
h1 {
  font-family: "Sarala", sans-serif;
  padding-left: 20px;
  margin-top: 30px;
  font-weight: bold;
}
img#profile {
  height: 300px;
  width: 300px;
  margin-right: 35px;
}
p {
  font-family: cursive;
  width: auto;
}
/* Images Style */
.chad {
  border: 1px solid;
  box-shadow: 5px 5px 5px 5px grey;
  width: 100%;
  margin: 0px 20px 20px 0px;
  border-radius: 10px;
}
/* Footer Style */
footer {
  width: 100%;
  margin-top: 10px;
}
